
<div class="container mt-2 pb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header bg-success">
                   <span class="username">{{ username }}</span> Repositories <div class="float-right"><a routerLink="/profile" class="btn btn-info btn-sm">Back to search</a></div>
                </div>
                <div class="card-body" *ngIf="repos.length > 0 && !loading && !error">
                    <!-- search repo -->
                    <form class="searchbox-margin">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="findRepo" name="findRepo" class="form-control input-sm" placeholder="Search Repo">
                        </div>
    
                    </form>
                    <!-- end search repo -->
                        <div class="m-2">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let repo of repos | searchRepo:findRepo">
                                      <h6>{{ repo.name }} </h6>
                                      <p>{{ repo.description }}</p>
                                      <small>
                                          <a  target="_blank"  class="btn btn-outline-info btn-sm" [href]="repo.html_url">Repo Link</a>
                                      </small>
                                </li>
                            </ul>
                    </div>   
                </div>
                <!-- if no repos records -->
                <div class="card-body" *ngIf="repos.length == 0  && !loading || error">
                    <div class="text-center">No records found.</div>
                </div>
                <!-- loading -->
                <div class="card-body" *ngIf="loading">
                    <div class="p-3">
                        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>