<div class="container">
    <div class="row">
        <form class="searchbox-padding searchbox-margin">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Enter github username">
            </div>
            <button class="btn btn-sm btn-success" type="submit" (click)="onSubmit()">
                Search
            </button>
        </form>
        <hr>
            <div class="col-md-6">
                <!-- profile side -->
                <div class="card card-success">
                    <div class="card-header bg-success">
                        Github User
                    </div>
                    <div class="card-body">
                           <img [src]="user.avatar_url" [alt]="user.name" class="img rounded-circle user-img">
                           <br>
                           <!-- <strong>Name <small>(name 2)</small></strong> -->
                           <div>Name:<strong>{{ user.name }}</strong></div>
                           <div>Username:<strong>{{ user.login }}</strong></div>
                           
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header bg-success">
                        Repositories
                    </div>
                    <div class="card-body">
                            <div class="m-2">
                                <ul class="list-group">
                                    <li class="list-group-item">Lorem Ipsum</li>
                                </ul>
                        </div>   
                    </div>
                </div>
            </div>
            
        
    </div>
</div>