<div class="container">
    <div class="row">
        <form class="searchbox-padding searchbox-margin">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Enter github username">
            </div>
            <button class="btn btn-sm btn-success" type="submit">
                Search
            </button>
        </form>
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    Lorem Ipsum
                </div>
                <div class="card-body">
                       <img src="" alt="lorem" class="img img-round">
                       <br>
                       <!-- <strong>Name <small>(name 2)</small></strong> -->
                       <div>Name:<strong>.</strong></div>
                       <div>Username:<strong>.</strong></div>
                       
                </div>
            </div>
        </div>
    </div>
</div>